# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg

# Django
*.log
local_settings.py
*.sqlite3

# Env
.env
.env.*

# venv
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Node
node_modules/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/
gcpkeys.json